@page "/fetchdata"



@using BlazorApp2.Data
@using MySql.Data
@using BlazorApp2.Models
@using DataLibrary
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config
@inject NavigationManager _nav

<h1>Insert Page</h1>

<label>Name</label>
<input @bind= "Name"/>

<label>Surname</label>
<input @bind= "Surname"/>

<label>ID</label>
<input @bind= "ID"/>

<label>Email</label>
<input @bind= "Email"/>

<button class="btn btn-primary" @onclick="InsertData">Insert</button>


@code {

    public string Name ; 
    public string Surname ; 
    public string ID; 
    public string Email ; 

    public async Task InsertData()
    {
        string sql = "Insert into Table1(Name,Surname,ID,Email) values(@Name,@Surname,@ID,@Email)";
        await _data.SaveData(sql, new { Name=@Name, Surname=@Surname,ID=@ID, Email=@Email}, _config.GetConnectionString("default"));
        //_nav.NavigateTo("/Newpage");
    }

   

    protected override async Task OnInitializedAsync()
    {
        
    }
    
}

